$breakpoints: (
    mobile-mini: 375px,
    mobile: 425px,
    tablette: 768px,
    Ordi-portable: 1024px,
    G-Ordi-portable: 1200px,
    PC-petit-écran: 1400px,
    PC: 1600px,
);

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$gris1: lighten(
    $color: gray,
    $amount: 45%,
);
$gris2: lighten(
    $color: gray,
    $amount: 40%,
);
$gris3: lighten(
    $color: lightgray,
    $amount: 15%,
);

$head-font: "Shrikhand", cursive;
$body-font: "Roboto", sans-serif;

/* $box-menu-img: (1,2,3,4); 
$box-menu: (1,2,3,4);

@mixin box-menu($map) {
    @each $box in $map {
        .lien {
            text-decoration: none;
            color: black;
            border-radius: 15px;
            
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }    
    }
}
*/

/* GENERAL */

body {
    margin: 0;
    font-family: $body-font;
}
h1 {
    font-family: $head-font;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}
.lien {
    text-decoration: none;
    color: black;
}

/*
Ordre d'importation: 
    outils (variable/fonction/mixin/placeholder)
    base
    composant
    layout
    page
    theme

Exemple

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
.fcnt {
    border: 2px solid red;
    grid-template-columns: repeat(3, 1fr);
    @include mobile-only() {
        grid-template-columns: 1fr;
    }
}*/

/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative;
    .icone {
        position: absolute;
        top: calc(50% - 10px);
        left: 25px;
        color: black;
        font-size: 1.2em;
    }
    img {
        width: 50%;
        font-size: 0.6em;
    }
}

/* Top page */

.section1 {
    background-color: $gris1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    .loca {
        width: 100%;
        border-top: 3px solid lightgray;
        background-color: $gris2;
        div {
            display: flex;
            justify-content: center;
            align-items: center;

            .icone {
                margin-right: 20px;
            }
        }
    }
    .explication {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        font-size: 1rem;
        color: white;
        padding: 15px 25px 15px 25px;
        border: 1px none;
        border-radius: 40px;
        background: linear-gradient($color-secondary, $color-primary);
    }
}

.section2 {
    h2 {
        margin: 20px;
        margin-top: 40px;
    }
    .fcnt {
        width: 100%;
        margin-bottom: 60px;
        li {
            width: 85%;
            height: 65px;
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 15px;
            background-color: $gris3;
            box-shadow: 2px 2px 2px 1px whitesmoke;
            margin: auto;
            margin-top: 20px;
            font-size: 0.9em;
            position: relative;
            span {
                position: absolute;
                left: -11px;
                top: calc(50% - 11px);
                padding-left: 5px;
                padding-right: 5px;
                color: white;
                border: 2px solid $color-primary;
                background-color: $color-primary;
                border-radius: 25px;
            }
            div {
                color: gray;
                padding-left: 25px;
                padding-right: 20px;
                .tel {
                    font-size: 1.2em;
                }
            }
            p {
                font-weight: bold;
            }
            i:hover {
                color: $color-primary;
            }
        }
        :hover {
            div {
                color: $color-primary;
            }
        }
    }
}
.section3 {
    background-color: $gris1;
    h2 {
        padding: 10px;
        padding-top: 40px;
        margin: 10px;
        font-size: 1.3em;
    }
    .menu {
        width: 90%;
        height: 264px;
        border-radius: 20px;
        margin: auto;
        position: relative;
        padding-bottom: 25px;
        .lien {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 264px;
            img {
                width: 100%;
                height: calc(100% - 64px);
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .btn {
                position: absolute;
                top: 15px;
                right: 15px;
                border: 2px solid $color-tertiary;
                background-color: $color-tertiary;
                color: darken($color: $color-tertiary, $amount: 35%);
                font-weight: bold;
                padding: 3px 6px 3px 6px;
            }
            .txt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                height: 40px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 12px;
                div {
                    h3,
                    p {
                        font-size: 0.9em;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
                .coeur {
                    padding-right: 20px;
                    font-size: 1.5em;
                    cursor: pointer;
                    .plein {
                        display: none;
                    }
                    &:hover {
                        .plein {
                            display: initial;
                            color: $color-primary;
                        }
                        .vide {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    /*.menu {
        @include box-menu;
    }*/
}
@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100;
    }
}
/* MENU */
main {
    margin-top: 0px;
    background-color: $gris1;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.rps {
    background-color: $gris1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    .titrerps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        margin-left: 25px;
        h1 {
            font-size: 1.8rem;
        }
        i {
            margin-right: 35px;
            font-size: 1.8rem;
        }
    }
    .repas {
        h2 {
            margin-left: 25px;
            padding-top: 30px;
            &::after {
                content: "";
                display: block;
                width: 60px;
                height: 3px;
                background-color: $color-tertiary;
            }
        }
        li {
            width: 90%;
            background-color: white;
            margin: auto;
            border-radius: 15px;
            margin-bottom: 20px;
            animation-duration: 3s;
            animation-name: slide;
            :hover .icone {
                margin-right: 0;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }
            :hover i {
                transform: rotate(360deg);
                transition-duration: 0.5s;
            }
            .box {
                margin: auto;
                position: relative;
            }
            .menu {
                box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
                border-radius: 15px;
                display: flex;
                overflow: hidden;
            }
            .descri {
                width: 100%;
                display: flex;
                max-width: 100%;
                overflow: hidden;
            }
            .txt {
                width: 100%;
                margin-left: 1rem;
                max-width: 100%;
                overflow: hidden;
                padding-top: 5px;
                padding-bottom: 10px;
                h3,
                p {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
            .price {
                display: flex;
                align-items: flex-end;
                margin-bottom: 1rem;
                margin-right: 1rem;
                max-width: 100%;
                margin-left: 0.5rem;
            }
            .icone {
                width: 7rem;
                background: #99e2d0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -7rem;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }
            .icone > i {
                color: #99e2d0;
                padding: 0.5rem;
                border-radius: 50%;
                background: white;
                transition-duration: 0.5s;
            }

            .txt > * {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
            }
        }
    }
    .butt {
        padding-bottom: 70px;
        button {
            font-size: 1rem;
            color: white;
            padding: 15px 15px 15px 15px;
            border: 1px none;
            border-radius: 40px;
            background: linear-gradient($color-secondary, $color-primary);
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            width: 45%;
            margin: auto;
            margin-top: 50px;
        }
    }
}

/* FOOTER */

.baspage {
    width: 100%;
    background-color: lighten($color: #000000, $amount: 20%);
    padding-bottom: 30px;
    div {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
        h3 {
            color: white;

            font-weight: bolder;
        }
        .lien {
            text-decoration: none;
            color: white;
            .icone {
                margin-right: 10px;
            }
        }
    }
}
