$breakpoints: (
    mobile-mini: 450px,
    mobile: 599px,
    tablette-mini: 768px,
    tablette-moyenne: 992px,
    tablette-grande: 1200px,
    petit-ecran: 1400px,
    ecran: 1600px,
);

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$head-font: "Shrikhand", sans-serif;
$body-font: "Roboto", sans-serif;

/* GENERAL */

body {
    margin: 0;
    font-family: $body-font;
}
h1,
h2,
h3 {
    font-family: $head-font;
    font-weight: normal;
    font-style: normal;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}
.lien {
    text-decoration: none;
    color: black;
}
/*
Ordre d'importation: 
    outils (variable/fonction/mixin/placeholder)
    base
    composant
    layout
    page
    theme

Exemple

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
.fcnt {
    border: 2px solid red;
    grid-template-columns: repeat(3, 1fr);
    @include mobile-only() {
        grid-template-columns: 1fr;
    }
}*/

/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .icone {
        color: black;
    }
    img {
        width: 50%;
    }
}

/* Top page */
.section1 {
    .loca {
        width: 100%;
        border-top: 3px solid lightgray;
        background-color: lighten($color: gray, $amount: 45%);
        div {
            display: flex;
            align-items: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            .icone {
                margin-right: 20px;
            }
        }
    }
    .explication{
        width: 50%;
            margin-left: auto;
            margin-right: auto;
        button {
            color: white;
            padding: 15px;
            border: 1px none;
            border-radius: 30px;
            background: linear-gradient($color-secondary,$color-primary);
        }

    }
}

.section2 {
    h2 {
        margin: 10px;
    }
    .fcnt {
        width: 100%;
        li {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
        border: 1px solid;
        margin: auto;
        }
    }
}
.section3{
    h2{
        margin: 10px;
    }
}

/* FOOTER */

.baspage {
    width: 100%;
    background-color: black;
    padding-bottom: 30px;
    div {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
        h3 {
            color: white;
        }
        .lien {
            text-decoration: none;
            color: white;
            .icone {
                margin-right: 10px;
            }
        }
    }
}
