body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.lien {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}
header .icone {
  position: absolute;
  top: calc(50% - 10px);
  left: 25px;
  color: black;
  font-size: 1.2em;
}
header img {
  width: 50%;
  font-size: 0.6em;
}

.baspage {
  width: 100%;
  background-color: #333333;
  padding-bottom: 30px;
}
.baspage div {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}
.baspage div h3 {
  color: white;
  font-weight: bolder;
}
.baspage div .lien {
  text-decoration: none;
  color: white;
}
.baspage div .lien .icone {
  margin-right: 10px;
}

.section1 {
  background-color: #f3f3f3;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.section1 .loca {
  width: 100%;
  border-top: 3px solid lightgray;
  background-color: #e6e6e6;
}
.section1 .loca div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .loca div .icone {
  margin-right: 20px;
}
.section1 .explication {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.section1 button {
  font-size: 1rem;
  color: white;
  padding: 15px 25px 15px 25px;
  border: 1px none;
  border-radius: 40px;
  background: linear-gradient(#ff79da, #9356dc);
}

.section2 h2 {
  margin: 20px;
  margin-top: 40px;
}
.section2 .fcnt {
  width: 100%;
  margin-bottom: 60px;
}
.section2 .fcnt li {
  width: 85%;
  height: 65px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px 1px whitesmoke;
  margin: auto;
  margin-top: 20px;
  font-size: 0.9em;
  position: relative;
}
.section2 .fcnt li span {
  position: absolute;
  left: -11px;
  top: calc(50% - 11px);
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border: 2px solid #9356dc;
  background-color: #9356dc;
  border-radius: 25px;
}
.section2 .fcnt li div {
  color: gray;
  padding-left: 25px;
  padding-right: 20px;
}
.section2 .fcnt li div .tel {
  font-size: 1.2em;
}
.section2 .fcnt li p {
  font-weight: bold;
}
.section2 .fcnt li i:hover {
  color: #9356dc;
}
.section2 .fcnt :hover div {
  color: #9356dc;
}

.section3 {
  background-color: #f3f3f3;
}
.section3 h2 {
  padding: 10px;
  padding-top: 40px;
  margin: 10px;
  font-size: 1.3em;
}
.section3 .menu {
  width: 90%;
  height: 264px;
  border-radius: 20px;
  margin: auto;
  position: relative;
  padding-bottom: 25px;
}
.section3 .menu .lien {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 264px;
}
.section3 .menu .lien img {
  width: 100%;
  height: calc(100% - 64px);
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.section3 .menu .lien .btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 2px solid #99e2d0;
  background-color: #99e2d0;
  color: #2c9c81;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
}
.section3 .menu .lien .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 12px;
}
.section3 .menu .lien .txt div h3,
.section3 .menu .lien .txt div p {
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section3 .menu .lien .txt .coeur {
  padding-right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}
.section3 .menu .lien .txt .coeur .plein {
  display: none;
}
.section3 .menu .lien .txt .coeur:hover .plein {
  display: initial;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
}
.section3 .menu .lien .txt .coeur:hover .vide {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
.repas ul {
  transform: translateY(0);
  opacity: 100;
  animation-duration: 5s;
  animation-name: slide;
}
.repas ul:nth-of-type(1) {
  animation-delay: 800ms;
}
.repas ul:nth-of-type(2) {
  animation-delay: 1600ms;
}
.repas ul li:nth-of-type(1) {
  animation-delay: 200ms;
}
.repas ul li:nth-of-type(2) {
  animation-delay: 400ms;
}
.repas ul li:nth-of-type(3) {
  animation-delay: 600ms;
}
.repas ul li:nth-of-type(4) {
  animation-delay: 800ms;
}
.repas ul li:nth-of-type(5) {
  animation-delay: 1000ms;
}
.repas ul li:nth-of-type(6) {
  animation-delay: 1200ms;
}
.repas ul li:nth-of-type(7) {
  animation-delay: 1400ms;
}
.repas ul li:nth-of-type(8) {
  animation-delay: 1600ms;
}
.repas ul li:nth-of-type(9) {
  animation-delay: 1800ms;
}

main {
  margin-top: 0px;
  background-color: #f3f3f3;
}
main img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.rps {
  background-color: #f3f3f3;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 2;
  margin-top: -40px;
  position: relative;
}
.rps .titrerps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-left: 25px;
}
.rps .titrerps h1 {
  font-size: 1.8rem;
}
.rps .titrerps i {
  margin-right: 35px;
  font-size: 1.8rem;
}
.rps .repas h2 {
  margin-left: 25px;
  padding-top: 30px;
}
.rps .repas h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #99e2d0;
}
.rps .repas li {
  width: 90%;
  background-color: white;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  animation-duration: 3s;
  animation-name: slide;
  opacity: 100;
  transform: translateY(0%);
}
.rps .repas li :hover .icone {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.rps .repas li :hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.rps .repas li .box {
  margin: auto;
  position: relative;
}
.rps .repas li .menu {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}
.rps .repas li .descri {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.rps .repas li .txt {
  width: 100%;
  margin-left: 1rem;
  max-width: 100%;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
}
.rps .repas li .txt h3,
.rps .repas li .txt p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.rps .repas li .price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 100%;
  margin-left: 0.5rem;
}
.rps .repas li .icone {
  width: 7rem;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.rps .repas li .icone > i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}
.rps .repas li .txt > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.rps .butt {
  padding-bottom: 70px;
}
.rps .butt button {
  font-size: 1rem;
  color: white;
  padding: 15px 15px 15px 15px;
  border: 1px none;
  border-radius: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 45%;
  margin: auto;
  margin-top: 50px;
}

/*
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
.fcnt {
    border: 2px solid red;
    grid-template-columns: repeat(3, 1fr);
    @include mobile-only() {
        grid-template-columns: 1fr;
    }
}*/

/*# sourceMappingURL=style.css.map */
