@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@mixin mini-tablette {
    @media screen and (min-width: map-get($breakpoints,mini-tablette)) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints,tablette)) {
        @content;
    }
}

@mixin ordi-portable {
    @media screen and (min-width: map-get($breakpoints,ordi-portable)) {
        @content;
    }
}

@mixin ordi-portable2 {
    @media screen and (max-width: map-get($breakpoints,ordi-portable)) {
        @content;
    }
}

@mixin g-ordi-portable {
    @media screen and (min-width: map-get($breakpoints,g-ordi-portable)) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: map-get($breakpoints,pc)) {
        @content;
    }
}
