$breakpoints: (
    mini-tablette: 426px,
    tablette: 590px,
    ordi-portable: 769px,
    g-ordi-portable: 1050px,
    pc: 1350px,
);

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$gris1: lighten(
    $color: gray,
    $amount: 45%,
);
$gris2: lighten(
    $color: gray,
    $amount: 40%,
);
$gris3: lighten(
    $color: lightgray,
    $amount: 15%,
);
