main {
    @include ordi-portable {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    @include ordi-portable {
        border-top: 3px solid lightgray;
    }
    @include pc {
        justify-content: space-evenly;
    }
}
.loading {
    animation: loading 3s forwards;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 999999;
    
    .loader {
        position: absolute;
        top: 50%;
        right: 50%;
        font-size: 10px;
        margin: auto;
        text-indent: -9999em;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: $color-secondary;
        background: -webkit-linear-gradient(left, $color-secondary 10%, rgba(255, 255, 255, 0) 42%);
        background: linear-gradient(to right, $color-secondary 10%, rgba(255, 255, 255, 0) 42%);
        -webkit-animation: load 3s;
        animation: load 3s;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 0;
        &:before {
            width: 50%;
            height: 50%;
            background: $color-secondary;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }
        &:after {
            background: $color-primary;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: "";
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}
.section1 {
    background-color: $gris1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    @include ordi-portable {
        margin: 0;
        width: 45%;
        margin-left: 5%;
        background-color: $gris1;
    }
    .loca {
        width: 100%;
        border-top: 3px solid lightgray;
        background-color: $gris2;
        @include ordi-portable {
            background-color: $gris1;
            border-top: unset;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablette {
                max-width: 60%;
                margin: auto;
            }
            .icone {
                margin-right: 20px;
            }
        }
    }
    .explication {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        h1,
        p {
            @include ordi-portable {
                margin-bottom: 25px;
            }
        }
    }
}
.section2 {
    @include tablette {
        margin: auto;
        max-width: 500px;
    }
    @include ordi-portable {
        margin: 0;
        width: 50%;
    }
    h2 {
        padding: 15px 0px 15px 0px;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        @include ordi-portable {
            margin-top: 0px;
        }
    }
    .fcnt {
        width: 100%;
        margin-bottom: 30px;
        li {
            width: 85%;
            height: 65px;
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 15px;
            background-color: $gris3;
            box-shadow: 2px 2px 2px 1px whitesmoke;
            margin: auto;
            margin-top: 20px;
            font-size: 0.9em;
            position: relative;
            @include tablette {
                max-width: 380px;
                margin: auto;
                margin-top: 20px;
            }
            @include ordi-portable {
                width: 90%;
                max-width: unset;
                margin: auto;
                margin-top: 20px;
            }
            span {
                position: absolute;
                left: -11px;
                top: calc(50% - 11px);
                padding-left: 5px;
                padding-right: 5px;
                color: white;
                border: 2px solid $color-primary;
                background-color: $color-primary;
                border-radius: 25px;
            }
            div {
                color: gray;
                padding-left: 25px;
                padding-right: 20px;
                .tel {
                    font-size: 1.2em;
                }
            }
            p {
                font-weight: bold;
            }
            i:hover {
                color: $color-primary;
            }
        }
        :hover {
            div {
                color: $color-primary;
            }
        }
    }
}

.section3 {
    background-color: $gris1;
    width: 100%;
    h2 {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.3em;
        @include tablette {
            width: 95%;
        }
    }
    ul {
        @include tablette {
            display: flex;
            justify-content: space-between;
            justify-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
        }
        .menu {
            width: 90%;
            height: 264px;
            border-radius: 20px;
            margin: auto;
            position: relative;
            padding-bottom: 25px;
            @include tablette {
                width: 45%;
                margin: auto;
            }
            .lien {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 264px;
                img {
                    width: 100%;
                    height: calc(100% - 64px);
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                .btn {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    border: 2px solid $color-tertiary;
                    background-color: $color-tertiary;
                    color: darken($color: $color-tertiary, $amount: 35%);
                    font-weight: bold;
                    padding: 3px 6px 3px 6px;
                }
                .txt {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    height: 40px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 12px;
                    div {
                        h3,
                        p {
                            font-size: 0.9em;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
