@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100;
    }
}
.repas ul {
    @for $ul from 1 to 3 {
        &:nth-of-type(#{$ul}) {
            animation-delay: 800ms * $ul;
        }
    }
    transform: translateY(0);
    opacity: 100;
    animation-duration: 5s;
    animation-name: slide;
    li {
        @for $box from 1 to 10 {
            &:nth-of-type(#{$box}) {
                animation-delay: 200ms * $box;
            }
        }
    }
}
main {
    margin-top: 0px;
    background-color: $gris1;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.rps {
    background-color: $gris1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 2;
    margin-top: -40px;
    position: relative;
    .titrerps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        margin-left: 25px;
        h1 {
            font-size: 1.8rem;
        }
        i {
            margin-right: 35px;
            font-size: 1.8rem;
        }
    }
    .repas {
        h2 {
            margin-left: 25px;
            padding-top: 30px;
            &::after {
                content: "";
                display: block;
                width: 60px;
                height: 3px;
                background-color: $color-tertiary;
            }
        }
        li {
            width: 90%;
            background-color: white;
            margin: auto;
            border-radius: 15px;
            margin-bottom: 20px;
            animation-duration: 3s;
            animation-name: slide;
            opacity: 100;
            transform: translateY(0%);
            :hover .icone {
                margin-right: 0;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }
            :hover i {
                transform: rotate(360deg);
                transition-duration: 0.5s;
            }
            .box {
                margin: auto;
                position: relative;
            }
            .menu {
                box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
                border-radius: 15px;
                display: flex;
                overflow: hidden;
            }
            .descri {
                width: 100%;
                display: flex;
                max-width: 100%;
                overflow: hidden;
            }
            .txt {
                width: 100%;
                margin-left: 1rem;
                max-width: 100%;
                overflow: hidden;
                padding-top: 5px;
                padding-bottom: 10px;
                h3,
                p {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
            .price {
                display: flex;
                align-items: flex-end;
                margin-bottom: 1rem;
                margin-right: 1rem;
                max-width: 100%;
                margin-left: 0.5rem;
            }
            .icone {
                width: 7rem;
                background: #99e2d0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -7rem;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }
            .icone > i {
                color: #99e2d0;
                padding: 0.5rem;
                border-radius: 50%;
                background: white;
                transition-duration: 0.5s;
            }

            .txt > * {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
            }
        }
    }
    .butt {
        padding-bottom: 70px;
        button {
            font-size: 1rem;
            color: white;
            padding: 15px 15px 15px 15px;
            border: 1px none;
            border-radius: 40px;
            background: linear-gradient($color-secondary, $color-primary);
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            width: 45%;
            margin: auto;
            margin-top: 50px;
        }
    }
}
